body {
	margin: 0;
	font-family: "Gotham SSm A", "Gotham SSm B", Helvetica, Arial, sans-serif;
	line-height: 1.5;
}

.col,
.col-1,
.col-10,
.col-11,
.col-12,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-auto,
.col-lg,
.col-lg-1,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-lg-auto,
.col-md,
.col-md-1,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md-2,
.col-md-3 {
	position: relative;
	width: 100%;
	padding: 0 1rem;
}

header {
	border-bottom: solid 1px #e0e0e0;
}

.secondary-header {
	background-color: #800000;
}

.secondary-header a {
	color: white;
	text-transform: uppercase;
}

.d-flex {
	display: flex;
}

a {
	text-decoration: none;
	background-color: transparent;
}

.brand-bar .col-md-12 a {
	font-size: 12px;
	align-items: center;
}

.brand-bar .col-md-12 a:hover {
	text-decoration: underline;
}

.brand-bar .col-md-12 a:before {
	background-image: url("https://d3qi0qp55mx5f5.cloudfront.net/shared-resources/i/template/phoenix-v2.svg");
	content: "";
	width: 30px;
	height: 25px;
	margin-right: 8px;
	display: inline-flex;
}

.brand-bar .col-md-12 {
	padding: 10px 0;
}

.row {
	display: flex;
	padding: 2.5rem 0;
	margin: auto -1rem;
}

.logo-title .row {
	flex: 1;
	align-items: center;
}

.logo-title .col-md-6 {
	max-width: 43%;
}

.wordmark {
	justify-content: flex-end;
}

.wordmark img {
	height: 70px;
}

img {
	vertical-align: middle;
}

.logo-breaker {
	height: 70px;
	border-left: 2px solid #e0e0e0;
}

.site-title {
	flex: 1;
}

.site-title h1 {
	letter-spacing: -1px;
	font-size: 1.888888em;
	font-weight: 300;
}

.container-fluid,
.col-md-6,
.col-sm-12 {
	width: 100%;
	padding-right: 15px;
	padding-left: 15px;
}

.main-content {
	padding-top: 1.5rem;
	padding-bottom: 1.5rem;
}

.container {
	width: 100%;
	padding-right: 1rem;
	padding-left: 1rem;
	margin: auto;
}

.row.page-title {
	padding: 0 1rem;
	margin-bottom: -1rem;
}

.page-title h2 {
	color: #800000;
	font-weight: 300;
	font-size: 1.44444444em;
}

.search-course {
	padding-top: 2rem;
	padding-bottom: 2rem;
}

.flex-column {
	flex-direction: column;
}

/* .flex-row {
	flex-direction: row;
} */

.nav {
	display: flex;
	flex-wrap: wrap;
}

.nav-tabs {
	border-bottom: 1px solid #dee2e6;
}

#nav-instructor-tab {
	margin-left: 0;
}

.nav-tabs .nav-link {
	padding: 0.75rem 2rem;
	background-color: #d9d9d9;
	border-color: #e0e0e0;
	border: 1px solid transparent;
	border-top-right-radius: 0.25rem;
	border-top-left-radius: 0.25rem;
	margin: -1px 3px;
	font-size: 18px;
	color: black;
}

.nav-tabs .nav-link.active {
	padding: 0.75rem 3.5rem;
	border-color: #e0e0e0 #e0e0e0 white;
	background-color: white;
	font-size: 18px;
	color: #800000;
}

link.active {
	background-color: white;
}

.tab-content {
	padding: 1rem;
	border: 1px solid #e0e0e0;
	border-top: none;
}

.tab-content > .tab-pane {
	display: none;
}

.tab-content > .active {
	display: block;
}

.fade {
	transition: opacity 0.15s linear;
}

form {
	max-width: 700px;
	margin: auto;
}

form .form-group {
	margin-bottom: 1.25rem;
}

form label {
	font-weight: 300;
	color: #4d4d4d;
}

label {
	display: inline-block;
	margin: 0.5rem;
}

#instructorSubject {
	display: none;
}

.custom-select {
	transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out,
		box-shadow 0.15s ease-in-out;
}

.custom-select,
.form-control {
	width: 100%;
	height: calc(1.5em + 0.75rem + 2px);
	padding: 0.375rem 1.75rem 0.375rem 0.75rem;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.5;
	color: #495057;
	vertical-align: middle;
	background: #fff;
	background-clip: padding;
	border: 1px solid #ced4da;
	border-radius: 0.25rem;
	transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.form-control:focus {
	color: #495057;
	background-color: white;
	border-color: #80bdff;
	box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
	outline: 0;
}

.custom-select {
	background-color: #fff
		url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org…3343a40' d='M2 0L0 2h4zm0 5L0 3h4z'/%3e%3c/svg%3e")
		no-repeat right 0.75rem center/8px 10px;
}

.chosen-container {
	position: relative;
	display: inline-block;
	vertical-align: middle;
	user-select: none;
}

#tages {
	width: 96%;
	padding: 0.375rem 0.75rem;
	height: 1.5em;
}

.text-muted {
	color: #6c757d;
}

form .buttons {
	margin: 0;
	align-items: center;
}

form .buttons .submit {
	padding: 0.5rem 3rem;
	background-color: #800000;
	border: 1px solid transparent;
	color: #fff;
}

.btn {
	font-weight: 400;
	text-align: center;
	cursor: pointer;
	font-size: 1rem;
	line-height: 1.5;
	border-radius: 0.25rem;
	transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
		border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

form .buttons .submit:hover {
	background-color: #4d0000;
}

form .buttons .clear {
	padding: 0;
	color: #800000;
	background-color: transparent;
	font-size: 14px;
	line-height: 0;
	margin-left: 1rem;
	border: none;
	border-bottom: 1px dotted;
	height: 25px;
}

form .buttons .clear:hover {
	color: #4d0000;
	font-weight: 600;
	border-bottom: 1px solid;
}

footer {
	font-weight: 300;
	font-style: normal;
	letter-spacing: normal;
	background: #404040;
}

.container-fluid,
.container-lg,
.container-md,
.container-sm,
.container-xl {
	width: 100%;
	padding: 0 1rem;
}

footer .container-fluid {
	max-width: 1430px;
}

.col-md-3.col-sm-4.col-xs-6.footer-logo {
	width: 80%;
}

footer a {
	border-bottom: 1px dotted;
	color: white;
}

footer a.uchicago-wordmark {
	background: transparent
		url("https://d3qi0qp55mx5f5.cloudfront.net/shared-resources/i/template/uchicago_wordmark.svg")
		0 0 no-repeat;
	background-size: contain;
	display: block;
	height: 0;
	width: 100%;
	padding-bottom: 18%;
	opacity: 0.75;
	text-indent: -9999em;
	border: none;
	transition: opacity 0.3s ease-in-out;
}

footer .uchicago-wordmark:hover {
	text-decoration: none;
	border-bottom: none;
}

footer a:hover {
	text-decoration: none;
	border-bottom: 1px solid;
	color: white;
}

footer p,
footer address,
footer a {
	color: #fafafa;
	font-style: normal;
	font-size: 12px;
	margin: 0;
}

footer .site_links {
	list-style: none;
	padding-left: 0;
}

dl,
ol,
ul {
	margin-top: 0;
	margin-bottom: 1rem;
}

footer .copyright {
	border-top: 1px solid #333;
}

.justify-content-center {
	justify-content: center;
}

footer .copyright p {
	border-top: 1px solid #4d4d4d;
	width: 100%;
	padding: 1rem 0;
	text-align: center;
	line-height: 1em;
	font-weight: 300;
}

@media (min-width: 768px) {
	.container,
	.container-md,
	.container-sm {
		max-width: 720px;
	}
}

@media (min-width: 768px) {
	.col-md-12 {
		-ms-flex: 0 0 100%;
		flex: 0 0 100%;
		max-width: 100%;
	}
}
