body,
* {
	margin: 0;
	padding: 0;
}

.wrapper {
	display: flex;
	justify-content: center;
	font-family: "Open Sans", sans-serif;
	height: 100vh;
}

.c-heading {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	.c-heading.title_wrapper {
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		width: 100%;
	}

	.c-heading.title_logo {
		background-color: #800000;
		width: 3rem;
		height: 3rem;
		margin-right: 1rem;
		border-radius: 0.25rem;
	}

	.c-heading.title {
		font-size: 2.5rem;
	}
}

.search-content {
	width: 100%;
	.search {
		margin: 1rem 0;
		display: flex;
		justify-content: center;
	}
}

.professor-overview {
	padding: 2rem 0;

	.content-row {
		padding: 0 3rem;
		display: flex;
		justify-content: center;
		font-family: sans-serif;
		height: 3rem;
	}

	.prof-nav__bar {
		display: flex;
		flex: 1;
		height: 100%;
		align-items: center;
		justify-content: center;
		background-color: #d9d9d9;
		border-radius: 0.25rem;
		color: black;
		margin-right: 1rem;
	}

	.prof-nav__bar:hover {
		cursor: pointer;
	}

	.search-bar {
		flex-grow: 3;
		justify-self: unset;
	}

	.sign-up {
		margin-right: 0;
	}

	.profile-header {
		display: flex;
		align-items: center;
		margin: 3rem 0;
		padding: 0 3rem;
		font-family: "Open Sans";
		background-color: #d9d9d9;
		height: 11rem;

		.header-img {
			width: 7rem;
			height: 7rem;
			background-color: #900000;
			margin-right: 3rem;
		}

		.prof-info {
			font-size: 1rem;
			color: #900000;

			.badge-info {
				background-color: white;
				padding: 0.25rem;
				width: 5rem;
				display: flex;
				justify-content: center;
				border-radius: 0.25rem;
			}

			.prof-name {
				font-weight: 600;
				text-transform: capitalize;
				margin-top: 0.5rem;
				font-size: 1.3rem;
			}
		}
	}

	.course-list__container {
		padding: 0 3rem;
	}
}

.MuiBox-root.css-k008qs {
	justify-content: center;
}

.MuiStack-root.css-m69qwo-MuiStack-root {
	align-items: center;
	justify-content: space-between;
	width: 100%;
	padding: 0 10px;
}

.MuiChip-root.MuiChip-filled.MuiChip-sizeMedium {
	background-color: #f8f4e1;
}

#panel1-content > div > div {
	font-weight: 800;
	margin-bottom: 0.5rem;
}

a {
	text-decoration: none;
	color: #543310;
	font-weight: 500;

	.MuiTypography-colorPrimary {
		color: #002145;
	}

	.course {
		margin: 1rem;
		padding: 1rem;
		border-bottom: 0.25px solid black;

		p {
			margin-bottom: 0.5rem;
		}
	}
}

a:nth-child(5) {
	.course {
		border: none;
	}
}

.MuiDataGrid-root.MuiDataGrid-root--densityStandard.MuiDataGrid-withBorderColor.css-rnyzj2-MuiDataGrid-root,
.MuiDataGrid-cell:focus {
	border: none;
}

.css-rnyzj2-MuiDataGrid-root.MuiDataGrid-row.Mui-selected {
	background-color: none;
}

.course-info {
	margin-bottom: 1rem;
	padding: 1rem 0;
	border-bottom: 0.25px rgb(158, 158, 158) solid;
}
