body,
* {
	margin: 0;
	padding: 0;
	font-family: "Open Sans", sans-serif;
}

.wrapper {
	display: flex;
	justify-content: center;
	height: 100vh;
}

.title_logo {
	background-color: #800000;
	width: 3rem;
	height: 3rem;
	margin-right: 1rem;
	border-radius: 0.25rem;
}

.c-heading.title {
	font-size: 2.5rem;
}

.search-content {
	width: 100%;
	.search {
		margin: 1rem 0;
		display: flex;
		justify-content: center;
	}
}

.content-row {
	padding: 0 3rem;
	display: flex;
	justify-content: center;
	height: 3rem;

	.prof-nav__bar {
		display: flex;
		flex: 1;
		height: 100%;
		align-items: center;
		justify-content: center;
		border: 0.02rem solid #d9d9d9;
		border-radius: 0.25rem;
		color: #900000;
		margin-right: 1rem;
	}

	.prof-nav__bar:hover {
		cursor: pointer;
	}

	.search-bar {
		flex-grow: 3;
		justify-self: unset;
	}

	.sign-up {
		margin-right: 0;
	}
}

.profile-header {
	display: flex;
	align-items: center;
	margin-bottom: 3rem;
	padding: 2rem 3rem;
	background-color: #900000;

	.header-img {
		width: 6rem;
		height: 6rem;
		background-color: #d9d9d9;
		border-radius: 50%;
		margin-right: 3rem;
	}

	.header-img.false {
		width: 0;
		height: 0;
		margin-right: 0;
	}

	.prof-info {
		font-size: 1rem;
		color: white;
		font-weight: 600;

		.badge-info {
			background-color: white;
			color: #900000;
			padding: 0.4rem;
			width: fit-content;
			display: flex;
			justify-content: center;
			border-radius: 0.25rem;
		}

		.prof-name {
			text-transform: capitalize;
			margin-top: 0.5rem;
			font-size: 1.3rem;
		}
	}
}

.profile-header.false {
	margin-top: 0;
	margin-bottom: 1rem;
	background-color: white;
	padding: 0 3rem;

	.header-img {
		border-radius: 50%;
		width: 5rem;
		height: 5rem;
		margin-right: 2rem;
		background-color: #d9d9d9;
	}

	.prof-info {
		color: black;
		.prof-name {
			font-size: 1.1rem;
		}

		.badge-info {
			background-color: #900000;
			color: white;
		}
	}
}

.professor-overview {
	.course-list__container {
		padding: 0 3rem;
	}
}

.MuiBox-root.css-k008qs {
	justify-content: center;
}

.MuiStack-root.css-m69qwo-MuiStack-root {
	align-items: center;
	justify-content: space-between;
	width: 100%;
	padding: 0 10px;
}

.MuiChip-root.MuiChip-filled.MuiChip-sizeMedium {
	background-color: #f8f4e1;
}

#panel1-content > div > div {
	font-weight: 800;
	margin-bottom: 0.5rem;
}

a {
	text-decoration: none;
	color: #543310;
	font-weight: 500;

	.MuiTypography-colorPrimary {
		color: #002145;
	}

	.course {
		margin: 1rem;
		padding: 1rem;
		border-bottom: 0.25px solid black;

		p {
			margin-bottom: 0.5rem;
		}
	}
}

a:nth-child(5) {
	.course {
		border: none;
	}
}

.MuiDataGrid-root.MuiDataGrid-root--densityStandard.MuiDataGrid-withBorderColor.css-rnyzj2-MuiDataGrid-root,
.MuiDataGrid-cell:focus {
	border: none;
}

.css-rnyzj2-MuiDataGrid-root.MuiDataGrid-row.Mui-selected {
	background-color: none;
}

.course-info {
	padding: 1.5rem 0;
	padding-bottom: 0.5rem;
}

.course-review__container {
	.reviews__wrapper {
		padding: 0 3rem;
		display: flex;
		margin-bottom: 3rem;
	}

	.reviews-filter {
		padding: 0.7rem 0;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	.course-review__box {
		flex: 2;

		.reviews-filter {
			font-size: 1rem;
			line-height: 1.5rem;
			font-weight: 600;

			.reviews-title {
				font-size: 1.1rem;
				font-weight: 700;
				text-transform: uppercase;
			}

			.filter-right {
				font-size: 0.9rem;
				display: flex;
				align-items: center;

				.paginator {
					margin-left: 2rem;
				}
			}
		}

		.course-info {
			display: flex;
			justify-content: space-between;
			font-size: 1rem;
			line-height: 1.6;
		}

		.professor-name {
			flex: 2;
		}

		.quarter {
			flex: 4;
		}

		.course-reviews {
			.comments {
				margin-top: 1rem;
				font-size: 0.9rem;
				line-height: 1.6;
			}
		}
	}

	.all-ratings {
		flex: 1;
		max-height: 50rem;
	}
}
