body,
* {
	margin: 0;
	padding: 0;
}

/* body {
	background-color: #f8f4e1;
} */

h2 {
	text-align: center;
}

.search-container {
	width: 100%;
	max-width: 800px;
	padding: 3rem;
	margin: auto;

	.search-content {
		width: 100%;
		max-width: 500px;
		margin: auto;
		padding: 1rem;
	}

	.search,
	button {
		margin: 1rem;
	}

	.search {
		display: flex;
		justify-content: center;
		text-transform: capitalize;
	}

	.MuiBox-root.css-k008qs {
		justify-content: center;
	}

	.MuiStack-root.css-m69qwo-MuiStack-root {
		align-items: center;
		justify-content: space-between;
		max-width: 400px;
		width: 100%;
	}

	.MuiChip-root.MuiChip-filled.MuiChip-sizeMedium {
		background-color: #f8f4e1;
	}
}
